* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Add this to your styles.css */
.card-body {
    padding: 20px; /* Adjust padding as needed */
    margin: 0; /* Ensure there’s no extra margin */
}

.container {
    max-width: 100%; /* Ensure full width */
}

.headline {
    width: 100%;
    height: auto;
}

/* Ensure flex layout in container */
.container-fluid {
    display: flex;
    height: auto;
}

.container-fluid .p-3 {
    flex-grow: 1;
}

.intro{
    background-color: black;
}

html {
    height: 100%;
}

body{
    margin: 0;;
    min-height: 100%;
    font-family: 'Candara';
    font-size: 100%;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    margin-top: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    /* Horizontally centers the text */
    align-items: center;
    /* Vertically centers the text */
    font-family: 'Candara';
    text-align: center;
    padding:0 2rem;
    color: white;
    z-index: 3;
}

h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add space below the heading */ 
}

li {
    list-style: none;
}

a, span {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(0, 87, 163) 1%, rgba(110,164,211,1) 40%, rgb(153, 127, 85) 78%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1rem;
}

a:hover, span:hover{
    color: rgba(110,164,211,1);
    font-size: 1.05rem;

}

#main {
    background-color: #43464adb;
    padding: 15px;
    overflow-x: auto;          /* Prevent horizontal overflow */
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .banner {
    width: 70%;
}

.navbar .logo {
    position: relative;
}

.navbar .toggle_btn {
    width: 10%;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .banner a{
    font-size: 1.5rem;
    font-weight: bold;
}

/* DROP DOWN MENU */
.dropdown_menu{
    display: block;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}
.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DROP DOWN MENU ARTISTS */
.dropdown_menu .artistList{
    display: none;
    position: left;
    left: 2rem;
    top: 60px;
    width: 300px;
    background-color: black;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 3;
}

.dropdown_menu .artistList.open{
    height: 240px;
}

.dropdown_menu .artistList li{
    padding: 0.7rem;
    display: flex;
    align-items: left;
    justify-content: left;
}

.home-bg{
    height: auto;
    background: linear-gradient(90deg, rgb(1, 32, 58) 1%, rgba(110,164,211,1) 40%, rgba(217,182,124,1) 78%);
}

.logo {
    width: 100%;
    height: 100px;
    position: left;
    background-size: contain;
    background-position: left; /* Center the image */
    margin-bottom: 1rem; /* Add space below the background image */
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.opening_pics{
    position: relative;
    height: 100%;
    display: flex;
    /*justify-content: center;
     Horizontally centers the text */
    align-items: center;
    /* Vertically centers the text */
    justify-content: space-evenly;
    text-align: center;
}

.top{
    width: 100%;
}

.bottom {
    width: 100%;
}

.excerpt {
    color: white;
    padding: 1rem;
    display:inline-block;
    line-height: 1;
    position: relative;
    border-radius: 5px;
    width: 400px;
    height: 350px;
    background-position: center; /* Center the image */    
    /* Horizontally centers the text */
    align-items: left;
    /* Vertically centers the text */
    text-align: left !important;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    justify-content: space-evenly;
    margin: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}

.contact {
    font-size: 24px;
    padding: 1rem;
    display:inline-block;
    line-height: 1;
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    background-position: center; /* Center the image */    
    /* Horizontally centers the text */
    align-items: center;
    /* Vertically centers the text */
    text-align: center !important;
    justify-content: center;
    margin: 1rem;
}

.submission {
    color: white;
    padding: 1rem;
    display:inline-block;
    line-height: 1;
    position: relative;
    border-radius: 5px;
    width: 50%;
    height: 400px;
    background-position: center; /* Center the image */    
    /* Horizontally centers the text */
    align-items: center;
    /* Vertically centers the text */
    text-align: center !important;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    justify-content: space-evenly;
    margin: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}

.form-control {
    width: 100%;
    font-size: 14px;
    padding: 0 .5rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}

.form-group textarea {
    width: 100%;
}

.btn {
    width: auto;
    background-color: black;
    color:  white;
    font-size: 18px;
    padding: 0 .5rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}

.form-group{
    margin: .5rem;   
}

.thank-you-page {
    position: relative;
    width: auto;
    display:block;
    text-align: center;
    align-items: center;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    object-fit: scale-down;
    place-items: center;
    justify-content: space-between;
}

.thank_you {
    font-size: 72px;
}

.thank_you:hover {
    font-size: 84px;
    color: black;
}

.thank-you-page .bottom {

    margin-top: 5rem;
    width: 20%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
    font-size: 24px;
}

.thank-you-page .bottom a{
    font-size: 24px;
}

address a {
    font-size: 24px;
}

address a:hover {
    font-size: 28px;
    color: black;
}

.artists{
    position: relative;
    width: auto;
    display:block;
    text-align: center;
    /* Vertically centers the text */
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    object-fit: scale-down;
}

.artistPreview {
    margin: auto;
    padding-top: 0.5rem;
    display:inline-block;
    line-height: 1;
    position: relative;
    border-radius: 5px;
    width: auto;
    height: 350px;
    background-position: center; /* Center the image */    
    /* Horizontally centers the text */
    align-items: center;
    /* Vertically centers the text */
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    place-items: center;
    justify-content: space-between;
    margin: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}

.artistPreview:hover{
    scale: 1.05;
}

.images {
    padding: 1rem;
    width: auto; /* Allow flexible width */
    height: 90%; /* Allow flexible height */
    overflow: visible; /* Ensure no cropping occurs */
    display: flex;
    position: relative;
}

.images img {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);

    display: block;
    width: auto !important;
    height: 90% !important;
}

.shop,
.collage,
.slider-container{

    display: inline-block !important;
    flex-wrap: nowrap !important;
    border-radius: 5px;
    width: 250px;
    height: 400px;
    position: center;
    background-size: contain;
    background-position: center; /* Center the image */
    margin-bottom: 1rem; /* Add space below the background image */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}

.headline{
    margin-top: 2rem;
}

.slider-container {
    
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 90%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .5);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.heading-1{
    animation: dropDown 1s 0s;

    font-size: 10em;
    text-align: center;
    justify-content: center;
    color: rgb(110,164,211);
    font-family: 'Brush Script MT', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}

div {
    -webkit-background-clip: padding-box; /* Safari/Chrome */
    -moz-background-clip: padding-box; /* Firefox */
    -o-background-clip: padding-box; /* Opera */
    background-clip: padding-box; /* Standard */
}

/* Responsive grid for larger screens */
@media (min-width: 992px) {
    #main {
        width: 1000%;
    }

    .artists{
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
    }

}

/* Tablet screen adjustments */
@media (min-width: 768px) and (max-width: 991px) {

    #main {
        width: 75%;
    }

    .container {
        width: 100%;
    }

    .artists{
        flex-direction: column;
    }

    .dropdown_menu{
        display: block;
    }
}

/* Mobile adjustments */
@media (max-width: 767px) {

    #nav,
    #main{
        width: 100%;
        margin-top: 15px;

    }

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .opening_pics, .artists{
        flex-direction: column;
    }
    .artistPreview {
        height: 250px;
    }

}

@keyframes dropDown {
    from {
        transform: translateY(-300px);
    }

    to {
        transform: translateY(0px);
    }
}